
# Displays a splash screen during boot
# /etc/systemd/system/splashscreen.service
# Note: not used with protomed device (original clinic demo)

[Unit]
Description=Splash screen
DefaultDependencies=no
After=local-fs.target

[Service]
ExecStart=/usr/bin/fbi -T 2 -d /dev/fb1 -noverbose -a /etc/micronets/splash.png
StandardInput=tty
StandardOutput=tty

[Install]
WantedBy=sysinit.target
